<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="domaine">
            <h2><span>Domaine</span> {{ domaine.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code Domaine</span></dt>
                <dd>
                    <span>{{ domaine.codeDomaine }}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{ domaine.libelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/domaine', domaine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
