<div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="card-deck">

<h1 style="text-align: center; color: #007000; background:black; font-family: Verdana, Geneva, Tahoma, sans-serif;">Gestion des Qualifications</h1>
<div style="background-color: #0070c0;color: white;">
    <!--span class="span1">Arretes</span-->
<br>

</div>
<br>


<div style="background-color: #0070c0;color: white;">
    <!--span class="span1">Arretes</span-->
<br>

</div>
<br>
</div>




<div>
<div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="card-deck">
    <h2 id="page-heading">
        <!--span>Qualifications</span-->

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qualification" [routerLink]="['/qualification/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Nouveau
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
</div>

    <div class="alert alert-warning" id="no-result" *ngIf="qualifications?.length === 0">
        <span>No qualifications found</span>
    </div>

    <span class="span1">Entrer votre recherche</span> <input type="text" [(ngModel)]="filter" class="form-control">
    <div class="table-responsive" id="entities" *ngIf="qualifications && qualifications.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <!--th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th-->
                    <th scope="col"  jhiSortBy="serviceConcerne"><span>Service Concerne</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="domaine.codeDomaine"><span>Domaine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categorie.codeCategorie"><span>Categorie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let qualification of qualifications  | pureFilter:filter:'serviceConcerne'">
                    <!--td><a [routerLink]="['/qualification', qualification.id, 'view']">{{ qualification.id }}</a></td-->
                    <td>{{ qualification.serviceConcerne }}</td>
                    <td>
                        <div *ngIf="qualification.domaine">
                            <a [routerLink]="['/domaine', qualification.domaine?.id, 'view']" >{{ qualification.domaine?.codeDomaine }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="qualification.categorie">
                            <a [routerLink]="['/categorie', qualification.categorie?.id, 'view']" >{{ qualification.categorie?.codeCategorie }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/qualification', qualification.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <button type="submit"
                                    [routerLink]="['/qualification', qualification.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(qualification)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="qualifications && qualifications.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
