<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agrement">
            <h2><span>Agrement</span> {{ agrement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code Agrement</span></dt>
                <dd>
                    <span>{{ agrement.codeAgrement }}</span>
                </dd>
                <dt><span>Qualification</span></dt>
                <dd>
                    <span *ngFor="let qualification of agrement.qualifications; let last = last">
                        <a [routerLink]="['/qualification', qualification?.id, 'view']">{{ qualification.serviceConcerne }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Arrete</span></dt>
                <dd>
                    <div *ngIf="agrement.arrete">
                        <a [routerLink]="['/arrete', agrement.arrete?.id, 'view']">{{ agrement.arrete?.numeroArrete }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agrement', agrement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
