

<div style="background-color: #0070c0;color: white;">
  <!--span class="span1">Arretes</span-->
<br>

</div>
<br>

<!--div class="progress">
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 75%; background-color: red;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 100%; background-color: chartreuse;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<br-->

<div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="card-deck"> 
    <br>
    <div class="card"   style="box-shadow: 2px 2px 2px 2px; background-color: #E5E5E5 ; border-radius: 15px; width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Domaine</h5>
          <p class="card-text">Créer, Modifier, Désactiver un domaine.</p>
          <!--a href="#" class="btn btn-primary">Gerer les domaines</a-->

          <a class="dropdown-item" routerLink="domaine" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
            <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
            <span class="btn btn-primary">Gerer les domaines</span>
        </a>
        </div>
    </div>
    <br>

      <div class="card" style="box-shadow: 2px 2px 2px 2px; background-color: #E5E5E5 ; border-radius: 15px; width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Catégorie</h5>
          <p class="card-text">Créer, Modifier, Désactiver une categorie</p>
          <!--a href="#" class="btn btn-primary">Gerer les categories</a-->

        <a class="dropdown-item" routerLink="categorie" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
            <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
            <span class="btn btn-primary">Gerer les categories</span>
        </a>
        </div>
      </div>

      <div class="card" style="box-shadow: 2px 2px 2px 2px; background-color: #E5E5E5 ; border-radius: 15px; width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Arreté</h5>
          <p class="card-text">Créer, Modifier,Voir Désactiver un arreté.</p>
          <!--a href="#" >Gerer les arretés</a-->

        <a class="dropdown-item" routerLink="arrete" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
            <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
            <span class="btn btn-primary">Gerer les arretés</span>
        </a>
        </div>
      </div>

      <div class="card" style="box-shadow: 2px 2px 2px 2px; background-color: #E5E5E5 ; border-radius: 15px; width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Utilisateurs</h5>
          <p class="card-text">Créer, Modifier, Désactiver un utilisateur.</p>
          <!--a href="#" class="btn btn-primary">Gerer les utilisateurs</a-->

          <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
            <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
            <span class="btn btn-primary">Gerer les utilisateurs</span>
        </a>
        </div>
      </div> 
</div>        
<br>
<br>

    
    <!-- Content Row *jhiHasAnyAuthority="'ROLE_ADMIN'"-->
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="card-deck"> 
        <div class="card" style="box-shadow: 2px 2px 2px 2px; background-color: #E5E5E5 ; border-radius: 15px; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Agrement </h5>
            <p class="card-text">Créer, Modifier, Désactiver un agrement.</p>
            <!--a href="#" class="btn btn-primary">Gerer agrement</a-->

            <a class="dropdown-item" routerLink="agrement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span class="btn btn-primary">Gerer agrement</span>
          </a>
          </div>
        </div>

        <div class="card" style="box-shadow: 2px 2px 2px 2px; background-color: #E5E5E5 ; border-radius: 15px; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Entreprise</h5>
            <p class="card-text">Créer, Modifier, Désactiver entreprise.</p>
            <!--a href="#" class="btn btn-primary">Gerer entreprise</a-->

          <a class="dropdown-item" routerLink="entreprise" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span class="btn btn-primary">Gerer entreprise</span>
          </a>
          </div>
        </div>

        <div class="card" style="box-shadow: 2px 2px 2px 2px; background-color: #E5E5E5 ; border-radius: 15px; width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Qualification</h5>
            <p class="card-text">Créer, Modifier, Désactiver qualification.</p>
            <!--a href="#" class="btn btn-primary">Gerer qualification</a-->

            <a class="dropdown-item" routerLink="qualification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span class="btn btn-primary">Gerer qualification</span>
          </a>
          </div>
        </div>     
  </div>   
  <br>

<div style="background-color: #0070c0;color: white;">
    <!--span class="span1">Arretes</span-->
<br>

</div>
<br>
  

<!--form class="form-inline pull-xs-right">
    <!--input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-danger" type="submit">
        <a class="dropdown-item" routerLink="qualification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
    Rechercher qualification
       </a>
   </button>
<br>
   <button  class="btn btn-secondary" type="submit">
    <a class="dropdown-item" routerLink="entreprise" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
      Rechercher entreprise
  </a>
  </button>
</form> 
<br>


<br>
<br-->

<div class="padbut">
<button type="submit" id="save-entity" class="btn btn-success">
  <a class="dropdown-item" routerLink="qualification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
    Rechercher qualification
</a>
</button>

  <button type="submit" id="save-entity" class="btn btn-primary">
      <a class="dropdown-item" routerLink="entreprise" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
        Rechercher entreprise
    </a>
  </button>
</div>

<!--div class="form-group">
  <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div-->

<div class="card shadow mb-4">
    <div class="card-header py-3">
       <!--input class="form-control" type="text" placeholder="Search"-->
        <form class="form-inline pull-xs-right">
            <!--input class="form-control" type="text" placeholder="Search">
            button class="btn btn-danger" type="submit">Search</button-->
        </form>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                      
                    <th scope="col" ><span>Sigle Entreprise</span></th>
                    <th scope="col" ><span>Entreprise</span></th>
                    <th scope="col" ><span>RCCM</span></th>
                    <th scope="col" ><span>IFU</span></th>
                    <!--th scope="col" ><span>Ville</span></th>
                    <th scope="col" ><span>Localisation</span></th>
                    <th scope="col" ><span>Telephone 1</span></th>
                    <th scope="col" ><span>Telephone 2</span></th-->
                    <th scope="col" ><span>Arrete</span></th>
                    <th scope="col" ><span>Agrement</span></th>
                    <!--th scope="col" ><span>Agrement</span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col" ><span>Qualification</span></th-->
                    <th scope="col"></th>
                </tr>
            </thead>
                <!--tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot          | filter:term-->
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                        <!--td>ATI-2017-001</td>
                        <td>actif</td>
                        <td>ventes materiels</td-->
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                        <!--td>ATI-2017-001</td>
                        <td>actif</td>
                        <td>ventes materiels</td-->
                    </tr>
                    <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>2009/01/12</td>
                        <td>$86,000</td>
                        <!--td>ATI-2017-001</td>
                        <td>actif</td>
                        <td>ventes materiels</td-->
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>   





<div style="background-color: #0070c0;color: white;">
  <!--span class="span1">Arretes</span-->
<br>

</div>
<br>



<!--form name="editForm" role="form" novalidate >
  <h2 id="jhi-qualification-heading">Rechercher Qualification</h2>

  <div form-row>
      
      <div class="col-md-3 mb-3">
          <label class="form-control-label" for="field_domaine">Domaine</label>
          <select class="form-control" id="field_domaine" name="domaine" formControlName="domaine">
              <!--option [ngValue]="null"></option>
              <option [ngValue]="domaineOption.id === editForm.get('domaine')!.value?.id ? editForm.get('domaine')!.value : domaineOption" *ngFor="let domaineOption of domaines; trackBy: trackById">{{ domaineOption.codeDomaine }}</option>
          </select>
      </div>

      <div class="col-md-3 mb-3">
          <label class="form-control-label" for="field_categorie">Categorie</label>
          <select class="form-control" id="field_categorie" name="categorie" formControlName="categorie">
              <!--option [ngValue]="null"></option>
              <option [ngValue]="categorieOption.id === editForm.get('categorie')!.value?.id ? editForm.get('categorie')!.value : categorieOption" *ngFor="let categorieOption of categories; trackBy: trackById">{{ categorieOption.codeCategorie }}</option>
          </select>
      </div>
  </div>
  <button class="btn btn-danger" type="submit">Search</button>
</form-->
<br>
<!--br>
<button class="btn btn-danger" type="submit">
  <a class="dropdown-item" routerLink="qualification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
    Rechercher qualification
</a>
</button>
<br>
<br-->
<!--form>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label class="form-control-label" for="field_domaine">Domaine</label>
        <select type="text" class="form-control" placeholder="City">
        </select>
      </div>
      <!--div class="col-md-3 mb-3">
        <input type="text" class="form-control" placeholder="State">
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-control-label" for="field_categorie">Categorie</label>
        <select type="text" class="form-control" placeholder="State">
        </select>
      </div>
      <!--div class="col">
        <input type="text" class="form-control" placeholder="Zip">
      
    </div> 
    <div class="padbut">
        <button type="button" id="cancel-save" class="btn btn-secondary" >
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button type="submit" id="save-entity"  class="btn btn-primary">
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
    </div>
    <!--button  type="submit" class="btn btn-primary">
        <span class="span1">Categories</span></button>


</form>

<br>
<br-->


<!--div class="card-body">
  <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>    
              <th scope="col" ><span>Qualification</span></th>
            <th scope="col" ><span>Type</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ventes logicielles</td>
            <td>D1 CA</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<br-->
<br>



<!--span>Filter</span> <input type="text" [(ngModel)]="filter" class="form-control">

<div class="table-responsive" id="entities" *ngIf="entreprises && entreprises.length > 0">
  <table class="table table-striped" aria-describedby="page-heading">
      <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
              <!--th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"  jhiSortBy="sigleEntreprise"><span>Sigle Entreprise</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"  jhiSortBy="nomEntreprise"><span>Entreprise</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"  jhiSortBy="numeroRCCM"><span> RCCM</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"  jhiSortBy="numeroIFU"><span>IFU</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"  jhiSortBy="ville"><span>Ville</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"  jhiSortBy="localisation"><span>Localisation</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"  jhiSortBy="telephone1"><span>Telephone 1</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"  jhiSortBy="telephone2"><span>Telephone 2</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"  jhiSortBy="agrement.codeAgrement"><span>Agrement</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let entreprise of entreprises | pureFilter:filter:'ville' ">
              <!--td><a [routerLink]="['/entreprise', entreprise.id, 'view']">{{ entreprise.id }}</a></td>
              <td>{{ entreprise.sigleEntreprise }}</td>
              <td>{{ entreprise.nomEntreprise }}</td>
              <td>{{ entreprise.numeroRCCM }}</td>
              <td>{{ entreprise.numeroIFU }}</td>
              <td>{{ entreprise.ville }}</td>
              <td>{{ entreprise.localisation }}</td>
              <td>{{ entreprise.telephone1 }}</td>
              <td>{{ entreprise.telephone2 }}</td>
              <td>
                  <div *ngIf="entreprise.agrement">
                      <a [routerLink]="['/agrement', entreprise.agrement?.id, 'view']" >{{ entreprise.agrement?.codeAgrement }}</a>
                  </div>
              </td>
              <!--td class="text-right">
                  <div class="btn-group">
                      <button type="submit"
                              [routerLink]="['/entreprise', entreprise.id, 'view']"
                              class="btn btn-info btn-sm">
                          <fa-icon icon="eye"></fa-icon>
                          <span class="d-none d-md-inline">View</span>
                      </button>

                      <button type="submit"
                              [routerLink]="['/entreprise', entreprise.id, 'edit']"
                              class="btn btn-primary btn-sm">
                          <fa-icon icon="pencil-alt"></fa-icon>
                          <span class="d-none d-md-inline">Edit</span>
                      </button>

                      <button type="submit" (click)="delete(entreprise)"
                              class="btn btn-danger btn-sm">
                          <fa-icon icon="times"></fa-icon>
                          <span class="d-none d-md-inline">Delete</span>
                      </button>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
</div-->
   

<div *ngIf="entreprises && entreprises.length > 0">
  <div class="row justify-content-center">
      <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
  </div>

  <div class="row justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
  </div>
</div>


<br>
<br>
<footer id="footer-main">
    <div class="container">
      <p style="text-align: center; font-family: Arial, Helvetica, sans-serif;">@copyright 2021. dgtic BURKINA FASO.</p>
      <p style="text-align: center; font-family: Arial, Helvetica, sans-serif;">coded by @bhm</p>
        <div class="row">
            <div class="col-sm-3">
               
            </div>
            <!--div class="col-sm-3">
                <ul class="list-unstyled">
                    <li><a href="">home</a></li>
                    <li><a href="">Quel est la mission de la dgtic</a></li>
                    <li><a href="">A propos</a></li>
                    <li><a href="">Les derniers informations</a></li>
                </ul>
            </div-->
            <!--div class="col-sm-3">
                <ul class="list-unstyled">
                    <li><a href="">facebook</a></li>
                    <li><a href="">twitter</a></li>
                    <li><a href="">youtube</a></li>
                    <li><a href="">linkedin</a></li>
                </ul>
            </div-->
            <!--div class="col-sm-3">
                <h6>agrements TECHNIQUE</h6>
                <p>L'agrement technique en matiere informatique est une reconnaissance de l'etat bukinabé auprés de tous les entreprises qui exercent dans le numerique</p>
            </div-->
        </div>
    </div>
    </footer>